<h1>Show Service</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @service.name %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @service.url %>
  </li>

  <li>
    <strong>Args:</strong>
    <%= @service.args %>
  </li>

  <li>
    <strong>Timeout:</strong>
    <%= @service.timeout %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.service_path(@conn, :edit, @service) %></span>
<span><%= link "Back", to: Routes.service_path(@conn, :index) %></span>
